AEGIS/resources/database/*
AEGIS/resources/runtimes/python/*
AEGIS/resources/runtimes/nodejs/*
AEGIS/resources/runtimes/uv/*
AEGIS/resources/runtimes/uv_cache/*
AEGIS/settings/.env
AEGIS/client/node_modules/
AEGIS/client/dist/
AEGIS/client/dist-ssr/
AEGIS/client/.env
AEGIS/client/*.local
AEGIS/client/logs/
AEGIS/resources/models/*

__pycache__
*.vscode
*.venv
*.db
*.log
*.docx
*.json
*.xlsx
*.pdf
*.csv   
*.txt
*.npy
*.lock
*.zip
*.exe
*.egg-info
*.gz
!.gitkeep

!AEGIS/settings/server_configurations.json
AGENTS.md



