AEGIS/setup/python/*
AEGIS/setup/settings/.env
AEGIS/resources/models/*

__pycache__
*.vscode
*.venv
*.db
*.log
*.docx
*.json
*.xlsx
*.pdf
*.csv   
*.txt
*.npy
*.lock
*.zip
*.exe
*.egg-info
*.gz
!.gitkeep

!AEGIS/setup/settings/server_configurations.json
!AEGIS/setup/settings/client_configurations.json
AGENTS.md

# Frontend
node_modules
dist
dist-ssr
*.local
.npm

