.app-shell {
    height: 100vh;
    background: var(--color-surface-app);
}

.app-content {
    width: 100%;
    height: 100%;
}

@media (max-width: 900px) {
    .app-content {
        height: 100%;
    }
}
